@font-face {
    font-family: 'Montserrat-Black';
    src: url(../fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}

.main {
    background: #F4CA34;
    background: linear-gradient(130deg, rgba(244, 202, 52, 1) 0%, rgba(237, 145, 8, 1) 100%);
    padding-top: 81px;
}

.container {
    max-width: 1117px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 81px;
}

.menu {
    font-family: 'Montserrat-Regular';
    font-size: 18px;
}

.menu_list {
    display: flex;
    gap: 68px;
}

.menu_link {
    color: black;
}

.phone_number {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: #000;
}

.info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 132px;
}

.info--content {
    width: 442px;
    padding-top: 45px;
}

.info--titel {
    font-family: 'Montserrat-Black';
    font-size: 40px;
    margin-bottom: 42px;
}

.info--text {
    font-family: 'Montserrat-Regular';
    font-size: 20px;
    line-height: 158.4%;
    margin-bottom: 39px;
}


.info--link {
    display: flex;
    width: 280px;
    height: 62px;
    border-radius: 26px;
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #FE2323;
    background: linear-gradient(-70deg, rgba(254, 35, 35, 1) 0%, rgba(254, 68, 68, 1) 100%);
}

.food{
    display: flex;
    gap: 47px;
}

.food--item{
    background-color: #fff;
    width: 223px;
    height: 158px;
    border-radius: 14px 14px 0 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 18px;
}

.food--titel{
    font-size: 18px;
    font-family: 'Montserrat-Bold';
    display: flex;
    align-items: center;
    gap: 11px;
    color: #000;
}